{{>layout/header}}
<div class="container pt-5" style="max-width: 480px;">
	<ul class="list-group">
		<li class="list-group-item bg-dark text-white text-center"><h3>Bookcase Login</h3></li>
		<li class="list-group-item text-center py-0 px-5">
			<a href="/oauth2/authorization/naver" class="btn" role="button">
				<img alt="btn_google_login" src="/images/login/google/btn_google_custom_login.png" class="img-fluid">
			</a>
		</li>
		<li class="list-group-item text-center py-0 px-5">
			<a href="/oauth2/authorization/naver" class="btn" role="button">
				<img alt="btn_google_login" src="/images/login/naver/btn_naver_custom_login.png" class="img-fluid">
			</a>
		</li>
		<li class="list-group-item text-center py-0 px-5">
			<a href="/oauth2/authorization/kakao" class="btn" role="button">
				<img alt="btn_google_login" src="/images/login/kakao/btn_kakao_custom_login.png" class="img-fluid">
			</a>
		</li>
	</ul>
</div>
{{>layout/footer}}