<script id="books-search-result-template2" type="text/x-tmpl-mustache">
<ul id="books-search-ul" class="list-group search-book-list mt-1">
{{#.}}
  <li class="list-group-item" data-idx="{{index}}">
  	<div class="d-flex">
	  <div class="book-img">
	    <img class="img-thumbnail" src="{{thumbnail}}" alt="...">
	  </div>
	  <div class="flex-fill px-3">
	  	<h3 class="book-title">{{title}}</h3>
		<div class="book-authors">{{authors}}</div>
		<div class="book-publisher">{{publisher}}</div>
	  	<small class="text-muted"><span class="book-publication-date">{{datetimeFormat}}</span> 출간</small><br>
	  	<small class="text-muted"><span class="book-price">정가 {{priceFormat}}</span>원</small>
	  </div>
	</div>
	<div class="book-contents"></div>
    <div class="d-lg-inline-flex">
      <a href="{{url}}" class="btn btn-info book-url" role="button" aria-pressed="true" target="_blank">상세</a>
      <button type="button" class="btn btn-primary" onclick="books.rental()">대여</button>
    </div>
  </li>
{{/.}}
</ul>
</script>

<script id="books-search-result-template3" type="text/x-tmpl-mustache">
<ul id="books-search-ul" class="list-group list-group-flush search-book-list mt-1">
{{#.}}
  <li class="list-group-item" data-idx="{{index}}">
	<div class="container">
	  <div class="row">
		<div class="col-5 col-md-2 book-img p-0">
			<img class="img-thumbnail" src="{{thumbnail}}" alt="...">
		</div>
		<div class="col-7 col-md-10">
		  	<h4 class="book-title">{{title}}</h4>
			<div class="book-authors font-weight-bold">{{authors}}</div>
			<div class="book-publisher text-secondary">{{publisher}}</div>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="col">
	  <a href="{{url}}" class="btn btn-info book-url" role="button" aria-pressed="true" target="_blank">상세</a>
	  </div>
	  <div class="col">
	  <button type="button" class="btn btn-primary" onclick="books.rental()">대여</button>
	  </div>
	</div>
  </li>
{{/.}}
</ul>
</script>

<script id="books-search-result-template" type="text/x-tmpl-mustache">
<div class="row row-cols-1 row-cols-md-2">
{{#.}}
  <div class="col mb-2">
	<div class="card h-100 shadow-sm" data-idx="{{index}}">
	  <div class="row no-gutters h-100">
	    <div class="col-5 col-md-4">
	      <img src="{{thumbnail}}" class="card-img img-thumbnail" alt="...">
	    </div>
	    <div class="col-7 col-md-8">
		    <div class="d-flex align-items-start h-100 flex-column">
			    <div class="px-2 pt-2">
			    	<h5 class="card-title book-title mb-1">{{title}}</h5>
					<div class="book-authors">{{authors}}</div>
			        <p class="card-text book-publisher"><small class="text-muted">{{publisher}}</small></p>
			    </div>
			    <div class="mt-auto w-100 p-2">
			      <div class="btn-group float-right" role="group" aria-label="button box">
					<a href="{{url}}" class="btn btn-outline-secondary book-url" role="button" target="_blank">
					  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  		    <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
					    <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
					  </svg>
				  	</a>
				    <button type="button" class="btn btn-info" onclick="books.register()">
					  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
					    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
					  </svg>
				    </button>
				  </div>
			    </div>
			</div>
	    </div>
	  </div>
	</div>
  </div>
{{/.}}
</div>
</script>