<div class="container">
	<div id="box-rental" class="row row-cols-3 row-cols-md-6">
		{{#rental-books}}
		<div class="col mb-2 px-0 px-md-3">
			<a class="btn btn-white" href="/books/book/{{bookId}}" role="button">
				<div class="h-100" data-book-id="{{bookId}}" style="cursor:pointer;">
					<img src="{{books.thumbnail}}" class="card-img shadow-sm border" alt="{{title}}">
					<div class="no-gutters h-100">
						<span class="book-title">{{title}}</span>
						<p>
							<small class="text-muted">{{status}}</small>
						</p>
					</div>
				</div>
			</a>
		</div>
		{{/rental-books}}
		{{^rental-books}}
		<div class="col-12 col-md-12 mt-3">
			<div class="alert alert-info text-center" role="alert">
				반납할 도서가 없군요!
				<div class="row mt-3">
					<div class="col-6">
						<button type="button" class="btn btn-info btn-block">대여</button>
					</div>
					<div class="col-6">
						<button type="button" class="btn btn-secondary btn-block">대여 이력</button>
					</div>
				</div>
			</div>
		</div>
		{{/rental-books}}
	</div>
</div>