<section id="container" class="container">
<div id="desc"></div>
<div id="yourElement" class="container" style="height: 180px; width: 240px;"></div>
<div id="result"></div>

</section>
<script src="/js/libs/quagga.js"></script>
<script type="text/javascript">
Quagga.init({
  inputStream : {
    name : "Live",
    type : "LiveStream",
    target: document.querySelector("#yourElement"),
    constraints: {
      width: { max: 640 },
      height: { max: 480 },
      aspectRatio: { min: 1, max: 2 },
      facingMode: "environment",
      deviceId: "6a579f45ce65cbf6f4d0a4b26550a9bcd72af3609da24b0ebf53e4c5b8201461"
    },
  },
  numOfWorkers: 2,
  frequency: 10,
  locator : {patchSize: 'medium', halfSample: true},
  singleChannel: false, // true: only the red color-channel is read
  decoder : {
    readers : ["code_128_reader"]
  }
}, function(err) {
    if (err) {
        console.log(err);
        return
    }
    console.log("Initialization finished. Ready to start");
    Quagga.start();
});

if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
	  // safely access `navigator.mediaDevices.getUserMedia`
	  console.log("acses");
	  navigator.mediaDevices.enumerateDevices()
	  .then(function(devices) {
	    devices.forEach(function(device) {
	      var desc = device.kind + ": " + device.label + " id = " + device.deviceId + "\n\n";
	  	var full_desc = document.getElementById("desc").innerHTML;
	  	
	  	document.getElementById("desc").innerHTML = full_desc + desc;
	      
	  	
	  	//var para = document.createElement("p");
	  	//var node = document.createTextNode("This is new.");
	  	//para.appendChild(node);
	  	console.log(desc);
	    });
	  })
	  .catch(function(err) {
	    console.log(err.name + ": " + err.message);
	  });
}
	
if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDevices) {
	  console.log("enumerateDevices() not supported.");
	}

// List cameras and microphones.

navigator.mediaDevices.enumerateDevices()
.then(function(devices) {
  devices.forEach(function(device) {
    var desc = device.kind + ": " + device.label + " id = " + device.deviceId + "\n\n";
	var full_desc = document.getElementById("desc").innerHTML;
	
	document.getElementById("desc").innerHTML = full_desc + desc;
    
	console.log(desc);
  });
})
.catch(function(err) {
  console.log(err.name + ": " + err.message);
});


Quagga.onDetected(onDetected);

function onDetected(result){
	console.log("result > " + result);
	document.getElementById("result").innerHTML = result;
}
</script>

