<style>
	.hide { display:none; }
</style>
<div id="box-rental" class="shadow-sm mb-3">
	<div class="card">
		<div class="card-header p-0 bg-white">
			<div class="text-left p-3">
				<h4 class="px-2 mb-0" style="color:#212529;">
					<strong>대여</strong>
				</h4>
				
			</div>
		</div>
		<div class="card-body bg-light">
			<div class="input-group books-search-area ">
				<input id="search-title" type="text" class="form-control" onkeydown="common.pressEnterWithClickElement('btn_books_search')" 
					placeholder="도서명을 입력해주세요." required>
			  	<div class="input-group-append">
			    	<button id="btn_books_search" class="btn btn-dark" type="button" onclick="books.search()">도서 검색</button>
			  	</div>
			</div>
			<div id="books_search_result">
			</div>
		</div>
	</div>
</div>

