<div class="shadow-sm mb-3">
	<div class="card">
		<div class="card-header p-0 ">
			<button class="btn btn-light alert-danger btn-block text-left p-3 d-flex justify-content-between align-items-center"
				type="button" data-toggle="collapse" data-target="#collapseReturn"
				aria-expanded="false" aria-controls="collapseReturn">
				<h4 class="px-2 mb-0">
					<strong>반납</strong>
				</h4>
				<span class="badge badge-danger badge-pill">1</span>
			</button>
		</div>
		<div class="card-body bg-light collapse multi-collapse" id="collapseReturn">
			<ul class="list-group return-book-list mt-1">
			  <li class="list-group-item">
			  	<div class="d-flex">
				  <div class="book-img">
				    <img class="img-thumbnail" src="https://search1.kakaocdn.net/thumb/R120x174.q85/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flbook%2Fimage%2F5188291" alt="...">
				  </div>
				  <div class="flex-fill px-3">
				  	<h3 class="book-title">book-title</h3>
				  	<div class="book-authors">book-authors</div>
				  	<div class="book-publisher">book-publisher</div>
				  	<small class="text-muted"><span class="book-publication-date"></span> 출간</small><br>
				  	<small class="text-muted"><span class="book-price"></span>원</small>
				  </div>
				</div>
				<div class="book-contents"></div>
			    <div class="d-lg-inline-flex">
			      <a href="#" class="btn btn-info book-url" role="button" aria-pressed="true" target="_blank">상세</a>
			      <button type="button" class="btn btn-warning alert-warning">연장</button>
			      <button type="button" class="btn btn-primary">반납</button>
			    </div>
			  </li>
			</ul>
		</div>
	</div>
</div>