<div class="container">
{{^bookcase}}
	<div class="pt-5 text-center">
		<p>나만의 책장을 만들어보세요.</p>
		<a href="/bookcase/bookcase-save" class="btn btn-info text-white" role="button">
			새로운 책장 만들기
		</a>
	</div>
{{/bookcase}}
<div class="row row-cols-2 row-cols-md-4">
{{#bookcase}}
	<div class="col mb-3">
		<div class="card h-100" data-bookcase-id="{{bookcaseId}}">
		  <div class="card-header">
		  	{{name}}
		  	<p class="small">[{{bookcaseId}}]</p>
		  </div>
		  <div class="card-body">
			<h5 class="card-title">{{userId}}</h5>
			<div class="row">
				<div class="col">picture</div>
				<div class="col">{{picture}}</div>
			</div>
		  </div>
		  <div class="card-footer">
		  	<a class="btn btn-outline-info btn-block" href="/bookcase/book/register/{{bookcaseId}}" role="button">책 추가하기</a>
		  </div>
		</div>
	</div>
{{/bookcase}}
</div>
	<div class="text-center">
		<a href="/bookcase/bookcase-save" class="btn btn-info text-white" role="button">
			새로운 책장 만들기
		</a>
	</div>
</div>