{{>layout/header}}
<nav class="navbar fixed-top bg-white border-bottom shadow-sm px-2 py-0">
	<ul class="nav nav-header pt-2" onclick="tab.moveNavTab()">
	  <li class="nav-item">
	    <a class="nav-link active" href="#book" tabindex="1">
	    	<strong>도서</strong>
	    </a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#bookcase" tabindex="2">
	    	<strong>책장</strong>
	    </a>
	  </li>
	</ul>
	<form class="navbar-button form-inline border-left" hidden>
      <a class="btn btn-white" type="button" data-tab-index="2" href="/bookcase/bookcase-save">
      	<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
		  <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
		</svg>
      </a>
    </form>
</nav>
<main class="container-fluid include-nav-header include-nav-bottom">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" data-page="1">
				{{>bookcase/book}}
			</div>
			<div class="swiper-slide" data-page="2">
				{{>bookcase/bookcase}}
			</div>
		</div>
	</div>
</main>
{{>layout/nav-bottom}}
{{>layout/footer}}
<script src="/js/app/bookcase.js"></script>