{{>layout/header}}
<nav class="navbar fixed-top bg-white border-bottom shadow-sm px-2 py-0">
	<ul class="nav nav-header py-2" onclick="tab.moveNavTab()">
	  <li class="nav-item">
	    <a class="nav-link nav-single" href="#" tabindex="1">
	    	<strong>더보기</strong>
	    </a>
	  </li>
	</ul>
</nav>
<main class="container-fluid include-nav-header include-nav-bottom">
	<div class="container">
		<div class="row">
			<div class="col p-3 text-center" style="max-width:110px;">
				<img class="rounded-circle border" alt="profile" src="{{user.picture}}" style="max-width: 80%;">
			</div>
			<div class="col pl-0 pl-md-3 my-auto text-break">
				<h5 class="mb-0">{{user.name}}</h5>
				<span class="font-weight-light text-muted">{{user.email}}</span>
			</div>
		</div>
		<div class="row row-cols-4 row-cols-md-6 border">
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="/books/book-save" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-search col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
					  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
					</svg>
					<span class="col" style="font-size: small;">찾기</span>
				</a>
			</div>
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="#" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-app col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
					</svg>
					<span class="col" style="font-size: small;">버튼</span>
				</a>
			</div>
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="#" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-app col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
					</svg>
					<span class="col" style="font-size: small;">버튼</span>
				</a>
			</div>
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="#" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-app col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
					</svg>
					<span class="col" style="font-size: small;">버튼</span>
				</a>
			</div>
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="#" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-app col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
					</svg>
					<span class="col" style="font-size: small;">버튼</span>
				</a>
			</div>
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="#" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-app col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
					</svg>
					<span class="col" style="font-size: small;">버튼</span>
				</a>
			</div>
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="#" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-app col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
					</svg>
					<span class="col" style="font-size: small;">버튼</span>
				</a>
			</div>
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="#" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-app col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
					</svg>
					<span class="col" style="font-size: small;">버튼</span>
				</a>
			</div>
			<div class="col py-3 px-0">
				<a class="btn btn-white row mx-auto" href="#" role="button">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-app col" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
					</svg>
					<span class="col" style="font-size: small;">버튼</span>
				</a>
			</div>
		</div>
	</div>
</main>
{{>layout/nav-bottom}}
<script src="/js/app/books.js"></script>
{{>layout/footer}}